{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piny</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">

    {% block css %}
    {% endblock css %}
</head>
<body>

    {% block content %}
    {% endblock content %}

    <script src="{% static "jquery/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/jquery.min.js" %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
